In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import cross_val_score

In [3]:
from sklearn.decomposition import PCA

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

In [5]:
from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression()

In [6]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier()

In [85]:
data = pd.read_csv("preprocessed_data.csv")

In [86]:
data.head()

,text,target,word_counts,character_counts,hashtag_counts,URL_counts,stop_word_counts,polarity_score
0,deed be the reason of thi earthquak may allah ...,1,13,57,1,0,8,0.2732
1,forest fire near la rong sask canada,1,7,32,0,0,0,-0.3400
2,all resid ask to shelter in place be be notifi...,1,22,112,0,0,11,-0.2960
3,peopl receiv wildfir evacu order in california...,1,9,61,1,0,1,-0.3400
4,just get send thi photo from rubi alaska as sm...,1,17,76,2,0,7,-0.3400

In [87]:
data.isnull().sum()

text                0
target              0
word_counts         0
character_counts    0
hashtag_counts      0
URL_counts          0
stop_word_counts    0
polarity_score      0
dtype: int64

In [88]:
data.fillna("", inplace=True)

In [89]:
# word_count = []
# for text in data["text"]:
#     if (len(str(text).split()) == 1):
#         print(text)

In [90]:
tfidf_vector = tfidf_vectorizer.fit_transform(data["text"])

In [91]:
pca = PCA(n_components=30)
pca_vector = pca.fit_transform(tfidf_vector.todense())

In [92]:
score_lr = cross_val_score(logistic_regression, pca_vector, data["target"], cv=5)

In [93]:
score_rf = cross_val_score(random_forest, pca_vector, data["target"], cv=5)

In [94]:
(score_lr).mean()

0.7097072225007184

In [95]:
(score_rf).mean()

0.7020956805116121

In [96]:
data["text"].iloc[50]

'deputi man shoot befor brighton home set ablaz '

In [84]:
data["text"].iloc[12]

'rain flooding florida tampabay tampa or day have lose count '